* text=auto eol=lf

assetbundle binary
scenes binary
level* binary
*.dll binary
*.dylib binary
*.so binary
*.wav binary
*.fbx binary
*.tif binary
*.jpg binary


# vs can handle these as lf, but really wants them as crlf
*.vcproj eol=crlf
*.vcxproj eol=crlf
*.vcxproj.filters eol=crlf
*.csproj eol=crlf
*.props eol=crlf
*.targets eol=crlf
*.sln eol=crlf
*.sln.template eol=crlf
