[Aa]rtifacts/
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Ll]og/
[Ll]ogs/

**/*.csproj.user
**/*.suo
**/.vs
**/.vsconfig
**/*.vcxproj.user
**/*.sdf
**/*.opensdf
**/*.VC.db
**/*.VC.opendb
**/*.sln.DotSettings.user
**/*.userprefs
**/project.lock.json
**/*.gen.csproj
**/*.gen.sln
**/.vscode
**/bin/
**/obj/
**/.idea/
**/launchSettings.json
**/PublishProfiles/

UnityFileSystemTestData/AssetBundles/
UnityFileSystemTestData/**/*.csproj
UnityFileSystemTestData/**/*.sln
